altair==5.5.0
attrs==25.1.0
blinker 
Bottleneck 
Brotli 
cachetools 
certifi 
charset-normalizer 
click 
gitdb 
GitPython 
idna 
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markdown-it-py 
MarkupSafe==3.0.2
mdurl 
narwhals==1.24.1
numexpr 
numpy 
packaging==24.2
pandas 
pillow 
protobuf==4.25.3
pyarrow 
pydeck 
Pygments 
PySocks 
python-dateutil 
pytz 
referencing==0.36.2
requests 
rich 
rpds-py==0.22.3
setuptools==75.1.0
six 
smmap 
streamlit 
tenacity 
toml
toolz
tornado
typing_extensions==4.12.2
tzdata
urllib3
wheel==0.44.0
